<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<title>TutsUP - Layout Responsivo</title>
		
		<style>
    		#centro {
                width:100px;
                height:100px;
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-50px;
                margin-left:-50px;
            }
		</style>
		</head>
	<body>
			<div id="centro">
				<input type="text" />
				<input type="password" />
			</div>
			<div class="footer">
			&copy;
			</div>
	</body>
</html>